<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.feedentry">

  <application>
    <activity
      android:label="@string/title_activity_feed"
      android:name=".ui.FeedActivity"
      android:theme="@style/AppTheme.NoActionBar"></activity>
  </application>

</manifest>