<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.communitcation_fragments">

  <application>
    <activity
      android:label="@string/title_simple_list"
      android:name=".ui.masterdetail.SimpleListActivity"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:label="@string/title_simple_detail"
      android:name=".ui.masterdetail.SimpleDetailActivity"
      android:parentActivityName=".ui.masterdetail.SimpleListActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.example.communitcation_fragments.ui.masterdetail.SimpleListActivity" />
    </activity>
    <activity
      android:label="Pager Activity "
      android:name=".ui.viewpager.PagerActivity"
      android:theme="@style/AppTheme.NoActionBar"></activity>
    <activity
      android:label="Communication between fragments"
      android:name=".ui.CommunicationFragmentActivity"
      android:theme="@style/AppTheme.NoActionBar"></activity>
  </application>

</manifest>