<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sampleproj.charlesng0209.com.sampleapparch">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".architecture.ui.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".architecture.ui.viewpager.PagerActivity"
            android:label="@string/title_activity_pager"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".architecture.ui.masterdetail.EmailListActivity"
            android:label="@string/title_email_list"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>

        <activity
            android:name=".architecture.ui.masterdetail.EmailDetailActivity"
            android:label="@string/title_email_detail"
            android:parentActivityName=".architecture.ui.masterdetail.EmailListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sampleproj.charlesng0209.com.sampleapparch.architecture.ui.masterdetail.EmailListActivity" />
        </activity>
    </application>

</manifest>