<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cn29.aac">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET" />
  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".MyApplication"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    >
    <activity
      android:label="@string/title_activity_app_arch_navigation_drawer"
      android:name=".ui.AppArchNavigationDrawer"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:exported="true"
      android:label="@string/title_activity_feed"
      android:name=".ui.feedentry.FeedActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="@string/title_activity_feed_entry_detail"
      android:name=".ui.feedentrydetail.FeedEntryDetailActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.feedentry.FeedActivity" />

    </activity>
    <activity
      android:label="@string/title_simple_list"
      android:name=".ui.masterdetail.SimpleListActivity"
      android:theme="@style/AppTheme.NoActionBar"/>
    <activity
      android:label="@string/title_simple_detail"
      android:name=".ui.masterdetail.SimpleDetailActivity"
      android:parentActivityName=".ui.masterdetail.SimpleListActivity"
      android:theme="@style/AppTheme.NoActionBar">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.masterdetail.SimpleListActivity"/>
    </activity>
    <activity
      android:label="Pager Activity "
      android:name=".ui.viewpager.PagerActivity"
      android:theme="@style/AppTheme.NoActionBar" />
    <activity
      android:label="Location Activity"
      android:name=".ui.location.LocationActivity"
      android:theme="@style/AppTheme.NoActionBar"/>

  </application>

</manifest>