<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.cn29.aac">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET" />
  <!-- To auto-complete the email text field in the login form with the user's emails -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.READ_PROFILE" />
  <uses-permission android:name="android.permission.READ_CONTACTS" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".MyApplication"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <provider
      android:authorities="com.cn29.aac.ArtistsSearchRecentSuggestionsProvider"
      android:name=".ui.shopping.ArtistsSearchRecentSuggestionsProvider" />

    <activity
      android:label="@string/title_activity_app_arch_navigation_drawer"
      android:name=".ui.main.AppArchNavigationDrawer" />
    <activity
      android:exported="true"
      android:label="@string/title_activity_feed"
      android:name=".ui.feedentry.FeedActivity" />
    <activity
      android:label="@string/title_activity_feed_entry_detail"
      android:name=".ui.feedentrydetail.FeedEntryDetailActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.feedentry.FeedActivity" />
    </activity>
    <activity
      android:label="@string/title_simple_list"
      android:name=".ui.masterdetail.SimpleListActivity" />
    <activity
      android:label="@string/title_simple_detail"
      android:name=".ui.masterdetail.SimpleDetailActivity"
      android:parentActivityName=".ui.masterdetail.SimpleListActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.masterdetail.SimpleListActivity" />
    </activity>
    <activity
      android:label="Pager Activity "
      android:name=".ui.viewpager.PagerActivity" />
    <activity
      android:label="Location Activity"
      android:name=".ui.location.LocationActivity" />
    <activity
      android:label="@string/title_activity_login"
      android:name=".ui.login.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:label="@string/title_activity_settings"
      android:name=".ui.setting.SettingsActivity" />
    <activity
      android:label="@string/title_activity_shopping_kart"
      android:launchMode="singleTop"
      android:name=".ui.shopping.ShoppingActivity">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.main.AppArchNavigationDrawer" />
    </activity>
    <activity
      android:label="@string/title_activity_artist_detail"
      android:name=".ui.shopping.ArtistDetailActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.shopping.ShoppingActivity" />
    </activity>
    <activity
      android:label="@string/title_activity_shopping_kart"
      android:name=".ui.shoppingkart.ShoppingKartActivity"
      android:theme="@style/AppTheme"></activity>
  </application>

</manifest>